@import "./color_schemes/light";
$body-background-color: #f0f6f9 !default;
$body-heading-color: #333333 !default;
$body-text-color: #444444 !default;
$link-color: #007bff !default;
$nav-child-link-color: #666666 !default;
$sidebar-color: #f8f8f8 !default;
$base-button-color: #e6e6e6 !default;
$btn-primary-color: #28a745 !default;
$code-background-color: #f2f2f2 !default;
$feedback-color: #e0e0e0 !default;
$table-background-color: #ffffff !default;
$search-background-color: #ffffff !default;
$search-result-preview-color: #333333 !default;
